<div class="modal" tabindex="-1" role="dialog" id="mi-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><strong id="mi-title"></strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="mi-image">
                {# todo add artist image #}
                <h4><strong><span>Buy now for only: </span><span id="mi-price"></span></strong></h4>
                <p><span>Created by</span>&nbsp<strong id="mi-artist"></strong><span> in </span>
                    <strong id="mi-year"></strong>.</p>
                <p>A <strong id="mi-type"></strong> made with <strong id="mi-materials"></strong></p>
                <input hidden id="mi-iid">

                {# todo add desc #}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="sc-add">Add to Cart</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>