<div class="modal" tabindex="-1" role="dialog" id="rp-mv-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><strong>Inventory Value by Medium</strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="rp-mv-table" class="table table-striped">
                    <thead class="thead">
                    <tr id="header-row">
                        <td></td>
                    </tr>
                    </thead>
                    <tbody id="data-rows"></tbody>
                    <tfoot id="total-row"></tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>