<!DOCTYPE html>
<html lang="en">

    <head>
        {% block meta %}{% endblock %}
        <title>{{ title }}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link rel="shortcut icon" href="favicon.ico">
        {% include "snippets/head.njk" %}

        <div class="page-header">
            {% block head %}{% endblock %}
        </div>

    </head>
    <body>

        {# margin to accommodate header bar #}
        <main>

            <div>
                <body>
                    <div class="jumbotron text-center">
                        <h1>Serious Masterpieces</h1>
                        <p>We specialize in Serious Art</p>
                    </div>
                </body
            </div>
            {% block header %}{% endblock %}

            {# todo, but not urgent This should link to common/views/nav.njk but doesn't #}
            {# {% block nav %}{% endblock %} #}

            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/admin/signin">Sign in</a>
                        </li>
                    </ul>
                </div>
            </nav>

            {% block main %}
                <div class="container g-py-150 text-center">
                    <h1 class="g-font-size-60 mb-4">Blank Page</h1>
                    <p class="g-font-size-18 mb-5">You have just reached a work-in-progress!</p>
                    <a class="btn u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15" href="/">Back to the Home
                Page</a>
                </div>
            {% endblock %}
            {% block footer %}{% endblock %}
            {% include "snippets/footer.njk" %}
            {% block modals %}{% endblock %}
        </main>

        {% block scripts %}{% endblock %}
    </body>

</html>