{% extends "base.njk" %}
{% set title="Sample Project home" %}

{% block main %}
    <h1>Welcome!</h1><br>
    <a>SIGN UP (not impl)</a>
    &nbsp;or&nbsp;
    <a href="/admin/signin">SIGN IN</a>
{% endblock %}