{% extends "base.njk" %}
{% set title = "Sample Project home" %}

{% block main %}
    <h1>Login Screen</h1>
    <form method="POST">
        <div class="form-group">
            <label for="username">User name: </label>
            <input type="text" class="form-control" name="username" id="username">
        </div>

        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" class="form-control" name="password" id="password">
        </div>

        <div>
        <button type="button" class="btn btn-info btn-lg">Login</button>
        </div>
    </form>
    {# todo sould be ajax #}
    {% if loginError %}
        <h3 class="error">Wrong credentials!</h3>
    {% endif %}
{% endblock %}