{# app root #}
{% from "app/snippets/search.macro.njk" import search %}

{% extends "base.njk" %}
{% set title="Serious Masterpieces" %}

{% block nav %}{% include "app/snippets/nav.njk" %}{% endblock %}
{% block header %}<h1>Serious Masterpieces</h1>{% endblock %}
{% block main %}

    {{ search(types, materials, artists) }}
    <script src="app/js/search-masterpieces.js"></script>

    <h2>Search Results</h2>
    <table id="data_table" class="table table-striped">
        <thead class="thead">
        <tr id="header-row">
            <td></td>
        </tr>
        </thead>
        <tbody id="data-rows"></tbody>
    </table>

{% endblock %}