{# app root #}
{% from "app/snippets/search.macro.njk" import searchForm %}

{% extends "base.njk" %}
{% set title="Sample Project home" %}

{% block main %}
    {{ searchForm(types, materials, artists) }}
{% endblock %}