{# app root #}
{% from "app/snippets/ms-search.macro.njk" import search %}

{% extends "base.njk" %}
{% set title = "Serious Masterpieces" %}

{% block main %}
    <div class="row"><a id="sc-show-link" href="#">see shopping cart</a></div>
    <div class="row">
        <div class="col-sm-3">
            <h3><strong>Search Results</strong></h3>
            {{ search(types, materials, artists) }}
        </div>

        <script src="/app/js/inv-search.js"></script>
        <br/>
        <div class="col-sm-8">
            <h3><strong>Search Results</strong></h3>
            {% include "app/snippets/ms-results.njk" %}
        </div>
    </div>

{% endblock %}

{% block modals %}
    {% include "app/snippets/mi-modal.njk" %}
    {% include "app/snippets/sc-modal.njk" %}
    <script src="/app/js/shopping-cart.js"></script>
{% endblock %}