{# Admin login page #}

{% extends base %}

{% block main %}
    <h1>Login Screen</h1>
    <form method="POST">
        Username: <input type="text" name="username"><br> Password: <input type="password" name="password"><br>
        <button>Login!</button>
    </form>
    {# {% if loginError not undefined and loginError %} #}
    {% if loginError not undefined %}
        <h3 class="error">Wrong credentials!</h3>
    {% endif %}
{% endblock %}
