/** this will contain site-wide css */


/*#sm-table tbody tr {*/


/*    background-color: gray;*/


/*}*/

#sm-table tbody tr:hover {
    filter: invert();
}

form {
    display: flex;
    flex-flow: row wrap;
    row-gap: 2em;
}

.form-section {
    display: table;
    float: left;
    margin-left: 2vw;
    border-spacing: .25em;
    border-collapse: separate;
    border: 0;
}

.form-section .form-item {
    display: table-row;
}

.form-item>* {
    display: table-cell;
    margin: .5em;
}

.form-item .form-msg {
    font-family: 'Berkshire Swash', cursive;
    font-size: medium;
    padding: 0 0 0 1em;
}

.form-item input[type=radio] {
    margin-left: .5em;
}

.form-item span {
    font-size: inherit;
    font-weight: bolder;
}

.form-span {
    margin-bottom: .5em;
}

#mi-image {
    max-width: 80%;
}

.page-header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar navbar-inverse {
    background: black;
}

#password,
#username {
    padding-block: 10px;
    margin-block: 10px;
}

.btn btn-info btn-lg {
    float: left;
    margin: 0;
}